.modal-overlay {
  position: fixed;
  inset: 0;
  background:rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* opacity: 0.8; */
  
}

.modal-container {
  background:black;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  animation: fadeIn 0.2s ease-in-out;

}


.modal-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  border: none;
  background: none;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
