body {
  margin: 0;
}

#root {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}


.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  fill: white !important;
}

#main_titles h1 {
  font-size: 60px;
}

#main_titles h3 {
  font-size: 30px;
}