#sign_up_button {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 400px;
    height: 50px;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    
}