.nav_elements_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font: 20px;
    color: white;
}

#nav_bar {
    /* max-width: 400px; */
    flex: 0.5;
    border-right: 1px solid white;
}

